{% extends 'layout.html' %}
{% block body %}

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>Onze contactgegevens</h1></div>
        <div class="panel-body">
          <p></p>
        </div>
      
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><h5>Adres: </h5><p>Kontichsesteenweg 64, 2547 Lint, Antwerpen Belgie</p></li>
          <li class="list-group-item"><h5>Telefoon: </h5><p>+32 (0) 4 / 654 87 87</p></li>
          <li class="list-group-item"><h5>Email: </h5><p>vragen@dezeschool.edu</p></li>
        </ul>


</div>





 

{% endblock %}