{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Welkom op de website van onze school.</h1> 
        <!-- indien reeds op website geweest is : "welkom terug" -->
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia eleifend dolor a vestibulum. Donec magna metus, faucibus id consectetur pretium, tempus quis erat. Praesent vel blandit ex, at pretium lacus. Integer porta neque vitae quam porta imperdiet. Ut egestas nulla in eros tempor, nec bibendum mi gravida.</p>
    </div>

{% endblock %}